$body: "proxima-nova", "Proxima Nova", Helvetica, Arial, sans-serif;
$accent: "brandon-grotesque", Helvetica, Arial, sans-serif;

$cream: #fffdf9;
$light-teal: #93a1a1;
$dark-teal: #268bd2;
$green: #859900;
$dark-pink: #dc322f;
$text: #45565b;

// SASS ONLY HELPERS
%accent { font-family: $accent; }
%backgroundDarkTeal { background: $dark-teal; }
%backgroundRed { background: $light-teal; }
%backgroundGreen { background: $green; }
%body { font-family: $body; }
%paddingMargin0 { padding: 0px; margin: 0px; }
%textColor { color: $text; }
%textDarkPink { color: $dark-pink; }
%textGreen { color: $green; }
%uppercase { text-transform: uppercase; }
%weight300 { font-weight: 300; }
%weight400 { font-weight: 400; }
%weight700 { font-weight: 700; }
%weight900 { font-weight: 900; }

// MIXINS
@mixin singlePadding($num) { padding: $num; }
@mixin multiPadding($top, $sides) { padding: $top $sides; }
@mixin textAlign($align) { text-align: $align; }