@import "variables";

html, body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  @extend %body;
  @extend %textColor;
  background: $cream;
}

p, ul, ol, li {
  font-size: 1em;
  line-height: 1.5em;
  text-align: justify;
}

a {
  @extend %textGreen;
  text-decoration: none;
}

pre {
  @include singlePadding(10px);
}

h1, h2, h3, h4, h5, h6 {
  @extend %accent;
  @extend %weight900;
  @extend %uppercase;
}


.header {
  @include textAlign(center);
  font-size: 1.25em;
  border-bottom: 8px solid $dark-teal;
}

.nav {
  padding: 10px 0px 0px 0px;
  font-size: 0.8em;
}

.content {
  padding-bottom: 20px;
}

.post {
  h1 {
    @extend %textGreen;
    @include singlePadding(10px);
  }

  h2 {
    @extend %textGreen;
    @include multiPadding(10px, 0px);
  }

  h6 {
    @extend %textDarkPink;
    @extend %paddingMargin0;
    @include textAlign(right);
    font-family: monospace, $body;
    font-size: 0.75em;
  }
}